

body{
   
    background-color: rgb(252, 244, 244);
    background-size: cover;
    color: black;
}


body
* {
	box-sizing: border-box;

  }
  
  .column {
    float: left;
    width: 33.33%;
	padding: 5px;
	text-align: center;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  body img ,.mg2{
  border-radius: 20%;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.contact-form{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50,-50);
    padding: 30px,40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;
}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;
}

.txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;

}
.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txtb input,.txtb textarea{
    width:100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin: 6px;
}
.btn{
    display: inline-block;
    background: blue;
    padding: 14px 0;
    color:white;
    text-transform: uppercase;
    cursor: pointer;
    
    width: 100%;
}
nav 
{
	position:relative;
	float:right;
}
nav ul
{
	margin:0;
	padding:0;
	display:flex;
}
nav ul li
{
	list-style:none;
}
nav ul li a 
{
	display:block;
	text-transform:uppercase;
	font-weight:bold;
	padding: 33px 20px;
    text-decoration: none;
    color: rgb(52, 59, 57);
}
nav ul li a:hover
{
	background:#184771;
	color:rgb(195, 209, 188);
}
nav ul li ul
{
	display:block;
	background:rgba(192, 183, 183, 0.5);
	min-width:250px;
	position:absolute;
	margin-top:1px;
	box-shadow:0 2px 5px rgba(0,0,0,.5);
	opacity:0;
	visibilty:hidden;
	transition:.5s;
	transform:translateY(40px);
}
nav ul li:hover ul
{
	opacity:1;
	visibility:visible;
	transform:translateY(0px);
}
nav ul li ul li a
{
	padding:10px;	
}
.logo-image{
	display: none;
 
}
button{
    background-color: black;
    border:1px solid black;
    cursor: pointer;
    color: rgb(0, 0, 0);
    padding: 0%;
    margin: 10;
    padding-left: 10;
    padding-right: 10;
    
}

button:focus{
    outline: none;
}

#toggle{
	display: none;
}
.togglearea{
	background-color: grey;
	display: flex;
	padding: 10px;
	color: white;
	justify-content: flex-end;
}
.togglearea label{
	background-color: white;
	height: 45px;
	width: 45px;
	color:black ;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.togglearea label span{
	background-color:black ;
	height: 4px;
	width: 70%;
	margin: 2px 0px;
	color:black;
}

.togglearea{
	display: none;
}
@media screen and (max-width: 768px){
	.fs6{
		display: none;
	}
	.fo{
		display: none;
	}
}

@media screen and (max-width: 700px)
{
	/*ul {
		flex-direction: column;
		display: none;
		float: none;
	}*/
	
	.fs1{
		display: none;
	}
	.logo-image{
		display: inline;
	 padding-left: 0%;
	}
	.footer{
		display: none;
	}
		footer{
			display: none;
	}
		
	.togglearea{
		display: none;
	}
	#toggle:on-click + ul {
		display: block;
		float: none;

	}
}



/* footer */
.footer {
	background-color: grey;
	font-family: Arial, Helvetica, sans-serif ;
	color: white;
	height: 340px;
	width: 100%;
	position: relative;
	opacity: 20;
	margin: auto;
}

.footer  .fs1 {
	width: 22%;
	height: 240px;
	margin: 10px;
	padding: 5px;
	float: left;
	text-decoration-line: none;	
}

.footer .fs2 {
	width: 13%;
	height: 150px;
    margin: 10px;
	float: left;
	padding: 0px;	
}

.footer .fs3 {
	width: 13%;
	height: 150px;
    margin: 10px;
	float: left;
	padding: 0px;	
}

.footer .fs4 {
	width: 13%;
	height: 150px;
    margin: 10px;
	float: left;		
}

.footer .fs5 {
	width: 20%;
	height: 150px;
    margin: 10px;
	float: left;		
}

.footer .fs6 {
	width: 4%;
	height: 220px;
	margin: 10px;
	float: right;
    position: relative;
	text-align: center;
	background-color: rgb(73, 73, 73);
}
.footer .fs2 h4{
	text-align: left;
	text-decoration: non;
	text-transform: uppercase;
}
.footer .fs3 h4{
	text-align: left;
	text-decoration: non;
	text-transform: uppercase;
}
.footer .fs4 h4{
	text-align: left;
	text-decoration: non;
	text-transform: uppercase;
}
.footer .fs5 h4{
	text-align: left;
	text-decoration: non;
	text-transform: uppercase;
}
.footer .fs6 h4{
	text-align: center;
	text-decoration: non;
	text-transform: uppercase;
	padding: 0px;
	margin: 10px;
	height: 30px;
}
.footer .fs6 .h4{
	text-align: center;
	text-decoration: non;
	text-transform: uppercase;
	padding: 0px;
	margin: 8px;
}

.footer .fs6 .ul-li{
	list-style-type: none;
	text-align: center;
	border-radius: 0px;
}
footer .fs6 .ul-li .footer .fs6 .ul-li1{
	text-align: center;
}
.footer  .fs1 .p1{
	text-decoration-color: ivory;
	text-align: center;
	text-decoration-style: none;
}
.footer  .fs1 .img{
	width: 125px;
	height: 83px;
	margin: 5px;
	padding: 5px;
}
.fa {
	font-size: 10px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	padding: 15px;
	margin: 5px;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
	background: blue;
	color: white;
	width: inherit;
	
	
  }
  
.p1 {
	text-align: center;
}

.mg2{
	width: 10%;
	height: 100px;
    margin: 10px;
	float: left;
}

#au {
	background-color: rgb(106, 102, 119)
}
.one { moz-box-shadow: 7px 5px 5px 5px #777777;   
	webkit-box-shadow: 7px 5px 5px 5px #777777;  
	box-shadow: 5px 7px 5px 7px #777777;
} 

.tzi {
	float: left;
	margin-right: 10px;
}

.al {
	text-align: center;
	margin-right: 10px;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .small {
	width: 5%;
	height: 25%;
  }

  .fo{
	  text-align: end;
  }
  #nav-container{margin-top:20px;
	float: right;
			}
	.navigation{text-align:center; background{
		display: none;
	}}
	.navigation li{display:inline; }
	.navigation a{text-decoration:none; color:black; display:inline-block; padding:20px 20px 20px}
	.navigation a:hover{color:white; background-color:black}
	